body{
    background: #016801;
    box-sizing: border-box;
}

.number{
    position: absolute;
    top: 120px;
    left: 90px;
}

.card{
    display: inline-block;
    text-align: center;
    background: white;
    margin: auto;
    height: 300px;
    padding-top: 100px;
    width: 200px;
    font-size: 85px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.card::before{
    content: '\2660';
    position: absolute;
    top: 1px;
    font-size: 85px;
    left: 12px;
}

.card::after{
    content: '\2660';
    position: absolute;
    bottom: 1px;
    right: 16px;
    font-size: 85px;
}